.bounding-box {
	position: absolute;
	box-shadow: inset 0 0 0 3px #29a19c;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}

.capitalize {
	text-transform: capitalize;
}

.celebrity-name {
	margin: 25px;
}
 
