body {
  margin: 0;
  font-family: 'Concert One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(173, 153, 255), #282231);
}

button {
	cursor: pointer;
}

